<div class="wrapper">
  New Video
  <br>
  <div class="video"><video id="video-container" controls: true></video></div>
  <div class="videoform"><%= render "form", video: @video %></div>
</div>
<footer>
  <%= link_to "<< Videos Index", videos_url %>
</footer>
